@use "sass:math";

$utilities: (
	"padding": (
		"prefix": "p",
		"values": (
			"0": 0,
			"1": $spacer * .25,
			"2": $spacer * .5,
			"3": $spacer,
			"4": $spacer * 1.5,
			"5": $spacer * 3
		)
	)
);

@each $property, $map in $utilities{
 	$prefix: map-get($map, "prefix");
 	$values: map-get($map, "values");

 		//padding
 		@each $key, $val in $values {
			#{$prefix}-#{$key} {
	 		#{$property}: $val;
		}

		//padding top
		@each $key, $val in $values {
			#{$prefix}t-#{$key} {
			#{$property}-top: $val;
			}
		}
 	}
}